<!DOCTYPE html>

<html>
  <head>
    <title>EDM Product Creator</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body style="width:650px; margin: 0 auto;">
    <div class="products-container"></div>

    <script src="/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

    <script id="product-template" type="text/x-handlebars-template">
      <div style="padding-bottom:10px;">
        <div class="wrapper" style="background-image: url('\{{photo}}'); background-size: 100% auto;">
          <div class="box a">\{{destination}}</div>
          <div class="box c">\{{numberofnights}}</div>
          <div class="box d">
            <div class="box b">\{{tagline}}</div>

            <div class="box f">
              <p>Per adult from</p>
              <span>\{{peradultfrom}}</span>
            </div>
            <div class="box l">
              <p>Per adult from</p>
              <span>\{{perchildfrom}}</span>
            </div>
          </div>
          <div class="box g"> G </div>
          <div class="box h"> H </div>
          <div class="box i"> I </div>
        </div>
        <div class="caption"> 
          <p class="caption__header">\{{dealname}}</p>
          <p class="caption__marketing-tag">Lorem Ipsum Some Description</p>
        </div>
      </div>
    </script>
  </body>
</html>